


 $primary:#5ec576;
 $danger: #e52a5a;
 $warning: #ffb003;

@import "../bootstrap/scss/bootstrap.scss";


 
body{
    font-family: "Poppins", sans-serif;
}

.navbar{
  position: static;
   z-index: 10;
}

.logo{
    mix-blend-mode: multiply;
}


.bg-primary-gradient{
  background-image: linear-gradient(to top left, #39b385, #5ec576);
  transform: skew(90deg);
}
.blur-img{
  filter: blur(8px);
}
.register-modal{
  
  background-color: #f3f3f3;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  width: 90%;
  @media screen and (min-width: 920px) {
    width: 45%;
  }
//  padding: 5rem 6rem;
  z-index: 1000;
  transition: all 0.5s;
}

.overlay{
  backdrop-filter: blur(3px);
  z-index: 100;
  transition: all .6s;
}

 
