


 $primary:#5ec576;
 $danger: #e52a5a;
 $warning: #ffb003;

@import "../bootstrap/scss/bootstrap.scss";


 
body{
    font-family: "Poppins", sans-serif;
}

.navbar{
  position: static;
   z-index: 10;
}

.logo{
    mix-blend-mode: multiply;
}


.bg-primary-gradient{
  background-image: linear-gradient(to top left, #39b385, #5ec576);
  transform: skew(90deg);
}
.blur-img{
  filter: blur(8px);
  transition: all .3s;
}
.register-modal{
  
  background-color: #f3f3f3;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  width: 90%;
  z-index: 1000;
  transition: all 0.5s;
  @media screen and (min-width: 920px) {
    width: 45%;
  }
//  padding: 5rem 6rem;
 
}

.overlay{
  backdrop-filter: blur(3px);
  z-index: 100;
  transition: all 0.5s;
}

.active-tab{
  margin-top: -11px;
  transition: all .2s;
}
.section{
  transition: all .9s;
}
.section-hidden{
  opacity: 0;
  transform: translateY(8rem);
}
.slider{
  min-height: 22rem;
  position: relative;
}
.slide{
  position: absolute;
  top:0;
  right: 0;
  min-height: max-content;
  
  transition: all .5s;
}

// .slide::before {
//   content: '\201C';
//   position: absolute;
//   top: -5.7rem;
//   left: -6.8rem;
//   line-height: 1;
//   font-size: 20rem;
//   font-family: inherit;
//   color: var(--color-primary);
//   z-index: -1;
// }
